# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Unreal Assets too large for repo
/Flikker/Content/StarterContent/**
Flikker/Intermediate/**/*
Flikker/Saved/**/*
Flikker/Binaries/**/*
Flikker/DerivedDataCache/**/*
Flikker/Flikker.VC.db
*.pdb
Flikker/.vs/**/*
Flikker/Build/**/*
